.kanban-board {
	display: flex;
	flex-direction: row;
	gap: var(--size-4-2);
	height: 100%;
	overflow-x: auto;
	padding: var(--size-4-2);
}

.kanban-board-empty {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	color: var(--text-muted);
	font-size: var(--font-ui-medium);
}
